<h1>Feed Sources</h1>

<table class="sortable-theme-bootstrap" data-sortable>
  <thead>
    <tr>
      <th>Name</th>
      <th># Feeds</th>
      <th># Items</th>
      <th>Last item added</th>
    </tr>
  </thead>
  <tbody>
<% @feeds.each do |feed| %>
    <tr>
      <td><a href="/administration/<%= feed.id %>" style="color: #000;"><%= feed.name %></a></td>
      <td><%= feed.feeds.count %></td>
      <td><%= feed.items.count %></td>
      <td><%= feed.items.order(id: :desc).first ? feed.items.order(id: :desc).first.created_at : '' %></td>
    </tr>
<% end %>
  </tbody>
</table>
